@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-vb2phk');
	src:url('fonts/icomoon.eot?#iefix-vb2phk') format('embedded-opentype'),
		url('fonts/icomoon.woff?-vb2phk') format('woff'),
		url('fonts/icomoon.ttf?-vb2phk') format('truetype'),
		url('fonts/icomoon.svg?-vb2phk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniE60C:before {
	content: "\e60c";
}
.icon-uniE60D:before {
	content: "\e60d";
}
.icon-equalizer:before {
	content: "\e600";
}
.icon-dashboard:before {
	content: "\e601";
}
.icon-podcast:before {
	content: "\e60f";
}
.icon-clock:before {
	content: "\e610";
}
.icon-print:before {
	content: "\e605";
}
.icon-screen:before {
	content: "\e606";
}
.icon-laptop:before {
	content: "\e607";
}
.icon-mobile:before {
	content: "\e609";
}
.icon-tablet:before {
	content: "\e60a";
}
.icon-storage:before {
	content: "\e611";
}
.icon-spinner:before {
	content: "\e612";
}
.icon-spinner2:before {
	content: "\e613";
}
.icon-spinner3:before {
	content: "\e614";
}
.icon-cog:before {
	content: "\e615";
}
.icon-stats:before {
	content: "\e602";
}
.icon-bars:before {
	content: "\e603";
}
.icon-bars2:before {
	content: "\e604";
}
.icon-meter:before {
	content: "\e616";
}
.icon-meter2:before {
	content: "\e617";
}
.icon-switch:before {
	content: "\e618";
}
.icon-powercord:before {
	content: "\e619";
}
.icon-tree:before {
	content: "\e61a";
}
.icon-cancel-circle:before {
	content: "\e61b";
}
.icon-checkmark-circle:before {
	content: "\e61c";
}
.icon-spam:before {
	content: "\e61d";
}
.icon-loop:before {
	content: "\e61e";
}
.icon-tux:before {
	content: "\e61f";
}
.icon-apple:before {
	content: "\e620";
}
.icon-windows:before {
	content: "\e621";
}
.icon-windows8:before {
	content: "\e622";
}
.icon-display:before {
	content: "\e608";
}
.icon-phone:before {
	content: "\e60b";
}
