{% set NUMBER_OF_SOCKETS = socket_labels|count -%}
{% set SOCKET_LIST = range(1, NUMBER_OF_SOCKETS+1) -%}
{% set PWM_SOCKETS = [3,4,5,6,9] -%}
<!DOCTYPE html>
<html lang="en">
<head>
<title>PedalPC dashboard</title>
<link id="rel-icon" rel="icon" type="image/png" href="/static/images/right-speed-icon-32.png">
<meta http-equiv="Content-type" content="text/html\;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<link rel="stylesheet" href="static/css/c3/c3.css">
<link rel="stylesheet" href="static/css/pure-min.css">
<style>
html {
  font-size: 16px;
  font-family: sans-serif;
}
* {
  box-sizing: border-box; 
  border-collapse: collapse;
}
.container {
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction:column;
  width: 100%;
}
nav {
  /* mobile-first menu across top */
  flex: 1 1 100%;
  height: 100vh;
}
main {
  flex: 1 1 auto;
  background-color: white;
}
section {
  padding: 1rem;
}
#dashboard {
  padding: 1rem 0;
}
.row {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around; 
}
  
.past_data {
}
#feedback input, #feedback textarea {
  width: 100%;
}
.settings {
}
.col-sm-12 {
  flex: 1 1 100%;
  padding: 0 0.5rem;
}
/* style the menu */
nav, .menu-icons {
  background-color: #191818;
  color: #999;
}
nav .logo {
  font-size: 110%;
  margin: 0.5rem auto;
  display: block;
  width: 8rem;
  height: auto;
}
nav .text-block {
  margin: 0.25em 0; 
  text-align: center; 
  font-size: 125%
}
nav .text-block a {
  display: inline-block;
  text-decoration: underline;
  color: #0078E7;
  padding: 0;
  font-size: 80%;
}
nav ul {
  list-style-type: none;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  margin: 0;
  margin-top: 1rem;
} 
nav ul li {
  flex: 1 1 8rem;
}
nav ul li a {
  text-decoration: none;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  color: #999;
  display: block;
  text-align: center;
}
nav ul li a.active {
  background-color: white;
  color: #222;
}
nav ul li a:hover:not(.active) {
  background: #555;
  width: 100%;
}
.menu-icons {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0.2;
  z-index: 1;
}
/* style the dashboard elements */
table, .card {
  width: 100%;
  margin-bottom: 1em;
}
table tr, .card, .card-header {
  border: 1px solid #cbcbcb;
}
/* pad all dashboard table cells */
table tr td, table tr th, .card-header {
  padding: 0.25rem;   
}
/* align and add padding to first and last cells */
table.session * td:last-child, table.history * td {
  text-align: right;   
  padding-right: 0.5rem;
}
table.session * td:first-child, table.history * td:first-child {
  text-align: left;
  padding-left: 0.5rem;
}
table.history td.hours {padding-right: 0rem;}
table.history td.minutes {padding-left: 0.125rem;}

table thead tr th, .card-header {
  background: rgb(224,224,224); 
  text-align: center;
  font-weight: bold;
}
table.power tbody {
  /* wrap device rows on large screens to correspond to physical locations */
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}
table.power tbody tr {
  /* mobile-first layout (rows wrap on wide screens) */
  flex: 0 0 100%;
  display: flex;  /* use flexbox on cells so content fills rows */
  border: 1px solid #ccc;
  align-items: center;
}
table.power * input, table.power * select  {width: 100%;}
table.power tbody tr td:first-child {
  /* device number */
  flex: 0 0 2rem;
  text-align: center;
}
table.power tbody tr td:nth-child(2) {
  /* description of device */
  flex: 1 1 15rem;
}
table.power tbody tr td:nth-child(3) {
  /* device status */
  flex: 0 0 7rem;
}
table.power tbody tr td:nth-child(4){
  /* device power */
  flex: 0 0 5rem;
  text-align: right;
  width: 5rem;
  padding-right: 0.5rem;
}
input.socket-label {
  /* style socket label text boxes */
  width: 100%; 
  border-width: 0;
  font-size: 1rem;
}
input.socket-label:focus {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #666;
}
table.power select {
  /* style power table select boxes */
  font-size: 1rem;
  padding: 0.06rem; 
  border-radius: 0.4rem; 
  background: white; 
  color: #333;
}
/* format the gauges */
.battery-gauge {
  flex: 1;
  width: 100%;
  height: auto;
  max-width: 8em;
  max-height: 6em;
  padding: 1rem 0;
}
.gauge-text {
  fill: #666; 
  font-size: 10px; 
  text-anchor: middle;
}
.gauge-needle {
  stroke: #999; 
  fill: white;
}
table.power select.on {background: green; color: white}
table.power select.auto_off {background: lawngreen; color: dimgray}
table.power select.pwm_mode {background-color: yellow; color: gray}
table.power select.off {background: red; color: white}
/* fix height shortfall of battery row in power table due to lack of select */
table.power tbody tr.battery td, table.power tbody tr.generator td {
  padding-top: 0.5rem;
  padding-top: 0.5rem;
}

table.settings {
    max-width: 40em;
}
table.settings td p, table.settings th {
    padding: 0.25em 1em;
    text-align: center;
}

table.settings label {
    max-width: 20em;
}

#settings-form button[type=submit] {
    margin: 0.5em auto;
}


.settings-error-message {
    padding: 0.5em;
    margin: auto;
    background: red;
    color: white;
    border-radius: 0.1em;
}
.connected {color:green;}
.disconnected {color:red;}

#chart {
  flex: 1;
  width: 100%;
}
#chart svg {
  /* TODO: determine if this is even necessary... */
  display: block; /* svg is inline by default */
  margin: auto;
}

/* format the past data section */
#past-data table {
  width: 100%;
  max-width: 70rem;
  margin: 0.5rem auto;
}  
#past-data td, #past-data th {
  text-align: center;
}
#past-data .row tbody td:first-child {
  text-align: left;
}
#past-data .row tbody td:last-child {
  text-align: right;
}
/* style section content consisting only of text */
section > p {
  text-align: center;
}

#past-data td:first-child {
  line-height: 1.5rem;
}
.food-icon {
  vertical-align: middle;
  max-width: 2rem;
  height: auto;
}
 
/* style the alert messages */
.alert {
  margin: 1em;
  padding: 1.5em;
  color: white;
}
.success {background-color: green;}
.error {background-color: red;}

@media all and (max-width: 1400px) {
  html {font-size: 12px}
}
@media all and (max-width: 900px) {
  .row .col-3, .row .col-4, .row .col-6 {flex: 0 0 100%;}
}

@media all and (max-width: 600px) {
  html {font-size: 10px;}
}
@media all and (min-width: 40rem) {
  .col-lg-3 {
    flex: 1 1 25%;
  }
  .col-lg-4 {
    flex: 1 1 33.3333333%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
  }
  .col-lg-12 {
    flex: 1 1 100%;
  }
  /* sidebar menu */
  .container {
    justify-content: space-between;
    flex-direction: row;
    align-items: stretch;
  }
  nav {
    flex: 0 0 10rem;
    width: 10rem;
    height: 100vh;
  } 
  main {
    display: block;
    flex: 1 1 auto;
    background-color: white;
  }
  nav ul {
    flex-direction: column;
    justify-content: flex-start;
  }
  nav ul li {
    flex: 1;
  }
  nav ul li a {
    font-size: 1.1rem;
  }
  /* use two-column layout on wide screens */
  table.power tbody tr {
    flex: 0 0 50%;
  }
  /* last row spans table & cells are centered */
  table.power tbody tr:last-child {
    flex: 1 1 100%;
  }
}
    
</style>
</head>
<body>
<div class="container">
  <nav>
    <a href="#"><img class="logo" src="static/images/pedal_pc_logo.svg"></a>
    <p class="text-block">
      Hi, {{ first_name }}  <br><a href="login">Not you?</a>
    </p>
    <ul>
      <li>
        <a class="active" data-id="dashboard" href="#" onclick="showScreen('dashboard');"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
      </li>
      <li> 
        <a data-id="past-data" href="#" onclick="showScreen('past-data');"><i class="fa fa-calendar fa-fw"></i> Previous</a>
      </li>
      <li>
        <a data-id="settings" href="#" onclick="showScreen('settings');"><i class="fa fa-gear"></i> Settings</a>
      </li>
      <li>
        <a data-id="feedback" href="#" onclick="showScreen('feedback');"><i class="fa fa-envelope"></i> Feedback</a>
      </li>
    </ul>
  </nav>
  <main>
    <section id="dashboard">
      <div class="row">
        <div class="col-sm-12 col-lg-6">
          <table class="power">
             <thead>
              <tr>
                <th rowspan=4>Power</th>
              </tr>
            </thead>
            <tbody>
            {% for label in socket_labels -%}
              <tr class="device">
                <td>{{ loop.index }}</td>
                <td>
                  <input class="socket-label" value="{{ label }}" onchange="updateSocketLabel({{ loop.index }}, this.value);"> 
                {%- if loop.index in PWM_SOCKETS %}
                  <input id="socket_{{ loop.index }}_duty_cycle" class="pwm-socket" type="range" min="0" max="256" step="1" value="0" onchange="updateDutyCycle({{ loop.index }}, this.value);">
                {%- endif %}
                </td>
                <td class="socket-on-auto-off">
                  <select onchange="updateSocketSetting({{ loop.index }}, this.value);" name="socket-setting" class="on">
                    <option value="on" selected="selected">on</option>
                    <option value="auto_off">auto off</option>
                    {%- if loop.index in PWM_SOCKETS %}
                    <option value="pwm_mode">%</option>
                    {%- endif %}
                    <option value="off">off</option>
                  </select>
                </td>
                <td id="watts-socket-{{ loop.index }}" class="watts-socket"></td>
              </tr>
            {%- endfor %}
              <tr class="device">
                <td></td>
                <td>
                  fan
                  <input id="fan_duty_cycle" class="pwm-socket" type="range" min="0" max="256" step="1" value="0" onchange="updateDutyCycle({{ NUMBER_OF_SOCKETS+1 }}, this.value);">
                  <!-- 
                  <input class="socket-label" value="fan" readonly="readonly"> 
  -->
                </td>
                <td class="socket-on-auto-off">
                  <select onchange="updateSocketSetting({{ NUMBER_OF_SOCKETS+1 }}, this.value);" name="socket-setting" class="on">
                    <option value="on">on</option>
                    <option value="auto_off" selected="selected">auto off</option>
                    <option value="pwm_mode">%</option>
                    <option value="off">off</option>
                  </select>
                </td>
                <td id="watts-fan" class="watts-socket"></td>
              </tr>
              <tr class="device battery">
                <td></td>
                <td>
                  battery - auto off after:
                </td>
                <td>
                  <select name="shutdown" id="shutdown" onchange="updateShutdown(this.value);">
                    <option value="20">20 s</option>
                    <option value="90">90 s</option>
                    <option value="300">5 m</option>
                    <option value="900">15 m</option>
                    <option value="3600">1 h</option>
                    <option value="7200">2 h</option>
                    <option value="14400">4 h</option>
                    <option value="28800">8 h</option>
                    <option value="43200">12 h</option>
                    <option value="57600">16 h</option>

                  </select>
                </td>
                <td id="watts-battery" class="watts-battery"></td>
              </tr>
              <tr class="device generator">
                <td></td>
                <td>generator</td>
                <td></td>
                <td id="watts-generator" class="watts-generator"></td>
              </tr>
            </tbody>
          </table>
        </div> <!-- /.col-6 -->
        <div class="col-sm-12 col-lg-3">
          <table class="session">
            <thead>
              <tr>
                <th colspan="3">Current Session</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Elapsed time</td>
                <td id="clock">0:00:00</td>
              </tr>
              <tr>
                <td>Energy generated</td>
                <td id="session-watthrs">0 Wh</td>
              </tr>
              <tr>
                <td>Calories burned</td>
                <td id="session-calories">0.0 Cal</td>
              </tr>
            </tbody>
          </table>
          <div class="card">
            <div class="card-header">
              Battery Status
            </div> <!-- /.card-header -->
            <div class="row">
            <!-- 
              <svg id="volts-gauge" class="battery-gauge" viewbox="0 0 64 35">
                <path d="M 7.00,32.00 A25,25 0 0,1 8.22,24.27" style="stroke:red; stroke-width:10; fill:none;"/>
                <path d="M 8.22,24.27 A25,25 0 0,1 11.77,17.31" style="stroke:yellow; stroke-width:10; fill:none;"/>
                <path d="M 11.77,17.31 A25,25 0 0,1 52.23,17.31" style="stroke:green; stroke-width:10; fill:none;"/>
                <path d="M 52.23,17.31 A25,25 0 0,1 55.78,24.27" style="stroke:yellow; stroke-width:10; fill:none;"/>
                <path d="M 55.78,24.27 A25,25 0 0,1 57.00,32.00" style="stroke:red; stroke-width:10; fill:none;"/>
                <path id="volts-needle" d="M 0,31 v 2 h 14 v -2 Z" transform="rotate(0, 32, 32)" style="stroke:#999; fill:white"/>
                <text class="volts-text gauge-text" x="32" y="35">0</text>
              </svg>
-->
            <svg id="volts-gauge" class="battery-gauge" viewbox="0 0 64 35">
                <path d="M 7.00,32.00 A25,25 0 0,1 8.22,24.27" style="stroke:red; stroke-width:10; fill:none;"></path>
                <path d="M 8.22,24.27 A25,25 0 0,1 11.77,17.31" style="stroke:yellow; stroke-width:10; fill:none;"></path>
                <path d="M 11.77,17.31 A25,25 0 0,1 52.23,17.31" style="stroke:green; stroke-width:10; fill:none;"></path>
                <path d="M 52.23,17.31 A25,25 0 0,1 55.78,24.27" style="stroke:yellow; stroke-width:10; fill:none;"></path>
                <path d="M 55.78,24.27 A25,25 0 0,1 57.00,32.00" style="stroke:red; stroke-width:10; fill:none;"></path>
                <path id="volts-needle" d="M 0,31 v 2 h 14 v -2 Z" transform="rotate(0, 32, 32)" style="stroke:#999; fill:white"/>
                <text class="volts-text gauge-text" x="32" y="35">0</text>
            </svg>

              <svg id="battery-amps-gauge" class="battery-gauge" viewBox="0 0 64 35">
                <path d="M 7.00,32.00 A25,25 0 0,1 10.35,19.50" style="stroke:red; stroke-width:10; fill:none;"></path>
                <path d="M 10.35,19.50 A25,25 0 0,1 14.32,14.32" style="stroke:yellow; stroke-width:10; fill:none;"></path>
                <path d="M 14.32,14.32 A25,25 0 0,1 49.68,14.32" style="stroke:green; stroke-width:10; fill:none;"></path>
                <path d="M 49.68,14.32 A25,25 0 0,1 53.65,19.50" style="stroke:yellow; stroke-width:10; fill:none;"></path>
                <path d="M 53.65,19.50 A25,25 0 0,1 57.00,32.00" style="stroke:red; stroke-width:10; fill:none;"></path>
                <path id="battery-amps-needle" d="M 0,31 v 2 h 14 v -2 Z" style="stroke:#999; fill:white" transform="rotate(98.40000000000002,32,32)"></path>
                <text class="battery-amps-text gauge-text" x="32" y="35"></text>
              </svg>
              <svg id="battery-level-gauge" class="battery-gauge" style="max-width: 3rem;" viewBox="0 0 24 35">
                <rect X="9" Y="0" class="battery-level-gauge-top battery-level-color" width="6" height="2" style="fill:green;" />
                <rect X="5" Y="2" width="14" height="22" class="battery-level-gauge-fill battery-level-color" style="fill:green;" />
                <rect X="6" Y="4" class="battery-level-gauge-empty" width="12" height="18" style="fill:#EEE;" />
                <!-- battery top-->
                <text class="battery-level-text gauge-text" x="12" y="35"></text>
              </svg>
            </div> <!-- /.row -->
          </div> <!-- /.card -->
        </div> <!-- /.col-3 -->
        <div class="col-sm-12 col-lg-3">
          <table class="history">
            <thead>
              <tr>
                <th colspan="5">History</th>
              </tr>
            </thead>
            <tbody>
              {% for day in history -%}
              <tr>
                   <td class="date">{{ day['date'] }}</td>
                   <td class="hours">{{ day['hours'] }} h</td>
                   <td class="minutes">{{ day['minutes'] }} m</td>
                   <td class="watthrs">{{ day['watthrs'] }} Wh</td>
                   <td class="average_watts">{{ day['average_watts'] }} W</td>
               </tr>
              {%- endfor %}
            </tbody>
          </table>
        </div> <!-- /.col-3 -->
      </div> <!-- /.row -->
      <div class=".row">
        <div class="col-sm-12 col-lg-12">
          <div id="chart" style="height:10em;">
            <p style="text-align:center;font-style:italic;padding:3em">(Not enough data yet to plot)</p>
          </div>
        </div> <!-- /.col-12 -->
      </div> <!-- /.row -->
    </section> <!-- /#dashboard -->
    <section id="past-data" style="display: none;">
      <p><em>(past data graphs will go here)</em></p>
    </section> <!-- /.past-data -->
    <section id="settings" style="display: none;">
    <!-- pulled in dynamically after page load -->
    </section> <!-- /.settings-->
    <section id="feedback" style="display: none;">
        {% include 'feedback.jinja' %}
    </section> <!-- /.feedback -->
  </main> 
</div> <!-- /.container -->
<script src="static/js/c3/d3.min.js"></script>
<script src="static/js/c3/c3.min.js"></script>
<script>
// ---------------- variables ------------------
//
let raw = {          // data read every second from microcontroller
    watts: {
        generator: 0,
        battery: 0,
    {%- for i in SOCKET_LIST %}
        socket_{{ i }}: 0,
    {%- endfor %}
        fan: 0,
    },
    volts: 0,
    shutdown_counter: 0,
    socket_settings: [
    {%- for i in SOCKET_LIST %}
      "on",
    {%- endfor %}
    ],
    shutdown_limit: 0,
    amps: {
        battery: 0,
    {%- for i in SOCKET_LIST %}
        socket_{{ i }}: 0,
    {%- endfor %}
        fan: 0,
    },
    battery_level: 0,
    duty_cycle: {
    {%- for i in SOCKET_LIST %}
        socket_{{ i }}: 0,
    {%- endfor %}
        fan: 0,
    },    
    response: '',
};
let sum_values = {        // used to calculate per-minute averages
    volts: 0,
    generator: 0,
    battery: 0,
{%- for i in SOCKET_LIST %}
    socket_{{ i }}: 0,
{%- endfor %} 
    fan: 0,
};
let chart_data = {       // per-minute averages plotted on graph using C3
    volts: [],
    generator: [],
    battery: [],
{%- for i in SOCKET_LIST %}
    socket_{{ i }}: [],
{%- endfor %} 
    fan: [],
};
let today = {           // data shown in history table
    seconds: 0,
    hours: {{ history[0]['hours'] }},
    minutes: {{ history[0]['minutes'] }},
    watthrs: {{ history[0]['watthrs'] }},
    avgWatts: 0,
};
let session = {         // timer and energy generated for this session
    hours: 0,
    minutes: 0,
    seconds: 0,        
    watthrs: 0,
    toHMS: function () {
        return this.hours + ":" +
            ((this.minutes < 10) ? "0" : "") +
            this.minutes + ":" +
            ((this.seconds < 10) ? "0" : "") +
            this.seconds;
        },
}; 
let audio_alert = {     // controls when to play audio alert
    is_enabled: 0,
    counter: 0,
    max_counter: 4,
    watts_subtotal: 0,
    play_watts: 60,     // threshold values
    reset_watts: 20,    
    audio: new Audio('/static/sounds/pipe.wav'),
    changeSettings: function(enabled, value) {
        if (enabled) {
            this.is_enabled = 1;
            this.play_watts = Number(value);
        } else {
            this.is_enabled = 0;
        }
    },
    handleReading: function(watts) {
        if (watts <= this.reset_watts) {
            // don't play alert when starting or stopping pedaling, or not 
            // pedaling at all.
            this.counter = 0;
            this.watts_subtotal = 0;
            return;
        }
        this.watts_subtotal += watts;
        this.counter++; 
        if (this.counter >= this.max_counter) {
            if ( (this.play_watts > this.watts_subtotal / this.counter) &&
                    (this.is_enabled) ) {
                this.audio.play();
                //alert(this.watts_subtotal/this.counter);
            }
            this.counter = 0;
            this.watts_subtotal = 0;
        }
    },
};
let counter = 0;        // controls when chart is updated
let chart = '';         // object to be used for chart
let socket_labels = [   // labels to display next to sockets in power table
{%- for label in socket_labels: %}
    "{{ label }}",
{%- endfor %}
];
// minimum generator threshold to account for rounding and calibration errors
// Assume no power is being generated when watts.generator is less than this
const GENERATOR_THRESHOLD = 5;
// # of seconds to wait after a dropdown has changed before reading the 
// value it is set at (prevents ping-ponging between new and old values)
// Note: it _will_ ping-pong at 1 sec!
const INPUT_WAIT_PERIOD = 2;
// countdown timer used as part of constant above
let input_hold_timer = 0;
// gnerator efficiency is at best 78%
const GENERATOR_EFF = 0.78;
// human efficiency of converting food to energy is 20-25% depending on 
// the individual
const FOOD_EFF = 0.25;    
// calories per serving of food shown in icon (e.g., 1 banana)
// data from nutritiondata.self.com
const CALORIES_PER_SERVING = 121;
// -------------- functions -----------------------

// show relevant screen based on what user has clicked
function showScreen(id) {
  // hide all other sections and alerts except the one selected
  document.querySelectorAll("section").forEach(function(e) {
    e.style.display = "none"
  });
  document.querySelectorAll(".alert").forEach(function(e) {
    e.style.display = "none"
  });
  el = document.getElementById(id)
  el.style.display = "block";
  // update the menu and change focus so the correct background color shows
  document.querySelector("nav ul li a.active").classList.remove("active");
  document.querySelector("[data-id='"+id+"']").classList.add("active");
  el.focus();
}

// counter that calculates hours, minutes, & seconds
function updateTime(time) {
  time.seconds++;
  if (time.seconds >= 60) {
    time.seconds = 0;
    time.minutes++;
  }
  if (time.minutes >= 60) {
    time.hours++;
    time.minutes = 0;
  }
  return time
}
// update values on screen that vary each second
function updateScreen (raw) {
  // change appearance of tab bar based on battery status
  // default condition
  let title_icon = "☺";
  document.getElementById("rel-icon").setAttribute("href", 
         "/static/images/right-speed-icon-32.png"); 
  if (raw.amps.battery < 0) {
      title_icon = "☹";
      document.getElementById("rel-icon").setAttribute("href", 
         "/static/images/too-slow-icon-32.png"); 
  } else if ( raw.amps.battery > 2.4) {
      title_icon = "!!";
      document.getElementById("rel-icon").setAttribute("href", 
         "/static/images/too-fast-icon-32.png"); 
  } 
  document.title = session.toHMS() + " " + raw.watts.generator.toFixed(0) + "W " + title_icon;
  document.getElementById("watts-generator").innerHTML =
    raw.watts.generator.toFixed(1) + " W";
  document.getElementById("watts-battery").innerHTML =
    raw.watts.battery.toFixed(1) + " W";
    {%- for i in SOCKET_LIST %}
  document.getElementById("watts-socket-{{ i }}").innerHTML =
    raw.watts.socket_{{ i }}.toFixed(1) + " W";
    {%- endfor %}
  document.getElementById("watts-fan").innerHTML =
    raw.watts.fan.toFixed(1) + " W";
  // update dropdown boxes only after any changes have had time to 
  // propagate
  if (input_hold_timer > 0) {
    input_hold_timer--;
  } else {
    document.getElementById("shutdown").value = raw.shutdown_limit;
    for (let i=0; i < raw.socket_settings.length; i++) {
      var e = document.querySelectorAll("select[name='socket-setting']")[i];
      e.value = raw.socket_settings[i];
      e.setAttribute("class", raw.socket_settings[i]);
      showOrHideDutyCycle(i+1, raw.socket_settings[i]);
    }
    for (var key in raw.duty_cycle) {
        var id = key + "_duty_cycle";
        document.getElementById(id).value = raw.duty_cycle[key];
    }
  }
  document.querySelector(".battery-amps-text").innerHTML =
    raw.amps.battery.toFixed(2) + " A";
  document.getElementById("battery-amps-needle").setAttribute("transform", 
    "rotate(" + 180.0 * (raw.amps.battery+1.5)/(4.5+1.5) + ",32,32)")
  document.querySelector(".volts-text").innerHTML =
    raw.volts.toFixed(1) + " V";
  document.getElementById("volts-needle").setAttribute("transform",
    "rotate(" + 180.0 * (raw.volts-12.8)/(14.8-12.8) + ",32,32)");
  document.querySelector(".battery-level-text").innerHTML =
    (100.0 * raw.battery_level).toFixed(0) + "%";
  // battery level indicator is set by enlarging the gauge's empty portion
  document.querySelector(".battery-level-gauge-empty").setAttribute("height", (1 - raw.battery_level) * 18.0);
  let battery_color = "red";
  if (raw.amps.battery > 0) {
    battery_color = "green";
  }
  document.querySelectorAll(".battery-level-color").forEach(function(e) {
    e.style.fill = battery_color;
  });
  // update session table only when producing power
  //if (raw.watts.generator > GENERATOR_THRESHOLD) {
  if (raw.watts.generator > -1) {
    document.getElementById("clock").innerHTML = session.toHMS();
    document.getElementById("session-watthrs").innerHTML = 
      session.watthrs.toFixed(1) + " Wh";
    document.getElementById("session-calories").innerHTML = 
      (session.watthrs * .860 / GENERATOR_EFF / FOOD_EFF ).toFixed(1) + " Cal";
  }
}

// update values on screen that vary each minute
function updateHistoryTable () {
  // today minutes and session minutes are different!
  today.minutes++;
  if (today.minutes >= 60) {
    today.hours++;
    today.minutes = 0;
  }
  fetchURL("/history", "GET", null, function(data) {
      body = document.querySelector("table.history tbody")
      var table = "";
      data.forEach(function(v) {
        table += "<tr>";
        table += "<td class='date'>" + v.date + "</td>";
        table += "<td class='hours'>" + v.hours + " h</td>";
        table += "<td class='minutes'>" + v.minutes + " m</td>";
        table += "<td class='watthrs'>" + v.watthrs + " Whr</td>";
        table += "<td class='average_watts'>" + v.average_watts + " W</td>";
        table += "</tr>";
      });
      body.innerHTML = table;
      console.log('table updated');
  });
}

// generic function used to read data and update values on microcontroller
function fetchURL (url, method, data, callback) {
  var request = new XMLHttpRequest();
  request.open(method, url);
  request.onload = function() {
    if (request.status >= 200 && request.status < 400) {
        // Success!
        try {
            // this will work if it's JSON
            var data = JSON.parse(request.responseText);
            if (callback) {
              callback(data);
            } 
        }
        catch(err) {
            // text or html was returned
            data = request.responseText
            var json_data = {'html': request.responseText};
            if (callback) {
                callback(json_data);
            }
        }
    } else {
        // We reached our target server, but it returned an error
        console.log("error: " + request.responseText);
    }
  };
  request.onerror = function() {
    // There was a connection error of some sort
    console.log("connection error");
  };
  if (data) {
    // assumes data object was created using FormData
    request.send(data);
  } else {
    request.send();
  }
}

// callback for debugging JSON calls
function printJSONResponse(jsonData) {
  console.log(jsonData);
}

// change description of devices attached to socket
function updateSocketLabel (i, val) {
  graph_label = document.querySelector("svg g g.c3-legend-item-socket_" + i + " text")
  // if user changes label before graph is drawn, it will throw an error and
  // prevent the label from being updated in the db.  This test solves this.
  if (graph_label) {
    graph_label.innerHTML = val;
  }
  var msg = {
    type: "update_label",
    socket_number: i,
    label: val,
  }
  ws.send(JSON.stringify(msg));
  console.log("updating socket " + i + " label to '" + val + "'");
}

// updates shutdown_limit value when select box was changed
function updateShutdown (val) {
  var msg = {
    type: "set_timeout",
    amount: val
  }
  ws.send(JSON.stringify(msg));
  console.log("updating shutdown setting to " + val);
} 

// change socket setting to "on", "off", "auto_off", or "pwm_mode" (i.e. PWM)
function updateSocketSetting (i, val) {
  input_hold_timer = INPUT_WAIT_PERIOD;
  var msg = {
    type: "change_socket",
    device_num: i,
    new_state: val,
  };
  ws.send(JSON.stringify(msg));
  console.log("updating socket " + i + " setting to " + val);
  var e = document.querySelectorAll("select[name='socket-setting']");
  e[i-1].setAttribute("class", val);
  showOrHideDutyCycle(i, val); 
}

// change duty cycle on a PWM socket
function updateDutyCycle (i, val) {
  input_hold_timer = INPUT_WAIT_PERIOD;
  var msg = {
    type: "change_duty_cycle",
    device_num: i,
    value: val,
  };
  ws.send(JSON.stringify(msg));
  console.log("updating socket " + i + " duty cycle value to " + val);
}

function showOrHideDutyCycle(i, val) {
  var s = "fan_duty_cycle";
  if (i <= {{ NUMBER_OF_SOCKETS }}) {
    s = "socket_" + i + "_duty_cycle";
  }
  var el = document.getElementById(s);
  if (el) {
    if (val == "pwm_mode") {
      el.style.display = "block";
    } else {
      el.style.display = "None";
    }
  }
}

// disable input form elements based on another element
function disableInput(classname, disable) {
    document.querySelectorAll('.' + classname ).forEach(function(e) {
        if (disable == true) {
            e.disabled = true;
        } else {
            e.disabled = false;
        }
    });
}
    
// update network settings and return any error messages
function submitNetworkForm(elements) {
  var form_data = {
    ssid: elements['ssid'].value,
    ssid_password: elements['ssid_password'].value,
  };
  fetchURL("/network", "POST", form_data, function(data) {
    alert(JSON.stringify(data));
  });
  // TODO: handle any error messages (no wired or wifi connection, 
  //  invalid AP name or password, etc.)
  return false;
}

// update hotspot settings and return any error messages
function submitHotspotForm(elements) {
  alert('form was submitted');
  var form_data = {
    ap_on: elements['ap_on'].value,
    ap_name: elements['ap_name'].value,
    ap_password: elements['ap_password'].value,
  };
  fetchURL("/hotspot", "POST", form_data, function(data) {
    alert(JSON.stringify(data));
  });
  // TODO: handle any error messages (no wired or wifi connection, 
  //  invalid AP name or password, etc.)
  return false;
}

// TODO: update to ws.send
// update list of available access points
function updateAPList() {
  el = document.querySelector("#wifi_ssid");
  el.innerHTML = '<option>(updating)</option>';
  fetchURL("/update-ap-list", "GET", null, function(data) {
    el.innerHTML = data.html;
  });
  return false;
}  

function postForm(parentId) {
    var formId = parentId + '-form';
    var buttonId = formId + '-button';
    // clear alert messages
    document.querySelectorAll(".alert").forEach(function(e) {
      e.style.display = "none";
    });
    document.getElementById(buttonId).innerHTML = 'Sending...';
    document.getElementById(buttonId).disabled = true;
    // this is the way to handle input if radio buttons are present
    var formData  = new FormData(document.getElementById(formId))
    // formData is an array of (key, value) pairs
    for (var pair of formData) {
        console.log(pair[0] + ': ' + pair[1]);
    }
    // use parentId as the target URL
    fetchURL(parentId, 'POST', formData, function(data) {
        document.getElementById(parentId).innerHTML = data.html;
    });
    return false;
}

// re-calculate sums and totals using latest data reading
function calculateSums(data) {
  // add latest values to subtotals
  sum_values.volts += data.volts;
  for (let k in data.watts) {
    sum_values[k] += data.watts[k];
  }
  // update watthrs only if actively generating power
  if (data.watts.generator > GENERATOR_THRESHOLD) {
    session.watthrs += data.watts.generator / 3600;
  }
}

// calculate per-minute averages, using count as a variable (instead of 60)
// because minute marks are sometimes skipped during boot
function calculateMinuteValues (count) {
  for (let k in chart_data) {
    chart_data[k].push((sum_values[k] / count).toFixed(1));
    if (chart_data[k].length == 1) {
      // Measuring data at start (0:00:00) can result in a wide 
      // range of values due to small sample size & connection errors.
      // To fix this, use point '1' data point for point '0', too
      chart_data[k].push((sum_values[k] / count).toFixed(1));
    }
    if (k === 'generator' & (sum_values[k] / count) > GENERATOR_THRESHOLD) {
      // update today's watthrs in history table when producing power
      today.watthrs += (sum_values[k] / 60 / count);
    }
    sum_values[k] = 0;
  }
}

// update chart
function updateChart() {
  if (chart_data['generator'].length == 2) {
    // initial chart has two data points
    chart = c3.generate({
      bindto: '#chart',
      size: {
        height: 250,
      },
      data: {
        json: chart_data,
        names: {
          volts: 'volts',
          generator: 'generator',
          battery: 'battery',
      {%- for i in SOCKET_LIST %}
          socket_{{ i }}: document.querySelectorAll("input.socket-label")[{{ i-1 }}].value,
      {%- endfor %}
          fan: 'fan',
      },
        colors: {
          volts: '#F00',
        },
        axes: {
          volts: 'y',
          generator: 'y2',
          battery: 'y2',
      {%- for i in SOCKET_LIST %}
          socket_{{ i }}: 'y2',
      {%-  endfor %}
          fan: 'y2',
        },
      },
      axis: {
        y: {
          show: true,
          min: 12,
          max: 15,
          label: {
            text:'volts',
            position: 'outer-middle',
          }
        },
        y2: {
          show: true,
          min: 0,
          label: {
            text: 'Watts',
            position: 'outer-middle',
          }
        },
      },

      grid: {
        y: {
          lines: [
            {
              value: 12.0, 
              text: 'minimum volts', 
              position: 'start'
            },
            {
              value: 14.5, 
              text: 'maximum volts', 
              position: 'start'
            }
          ]
        }
      }
    });
  }
  else {
    // update (don't re-generate) chart thereafter to 
    // reduce load time
    chart.load({
      json: chart_data,
      names: {
        volts: 'volts',
        generator: 'generator',
        battery: 'battery',
    {%- for i in SOCKET_LIST %}
        socket_{{ i }}: document.querySelectorAll("input.socket-label")[{{ i-1 }}].value,
    {%- endfor %}
        fan: 'fan',
      },
    });
  }  
}

// main loop called by setInterval that reads data and updates display
function mainLoop (data_str) {
  counter++
  // websockets pass data as strings, requiring JSON strings to be parsed
  data = JSON.parse(data_str);
  // log responses to commands from microcontroller to console for debugging
  if (data.response) {
    console.log(data.response);
  }
  calculateSums(data);
  if (data.watts.generator > GENERATOR_THRESHOLD)
  {
    session = updateTime(session);
  }
  // update values on screen that change each second
  updateScreen(data);
  audio_alert.handleReading(data.watts.generator);
  if (counter >= 60) {
    // calculate per-minute averages
    calculateMinuteValues(counter);
    // update history table
    if (data.watts.generator > GENERATOR_THRESHOLD)
    {
      updateHistoryTable();
    }
    // update graph
    updateChart();
    counter = 0;
  } 
}
window.addEventListener('load', function() {
    //['settings','feedback'].forEach(function(section) {
    fetchURL('settings', 'GET', null, function(data) {
        document.getElementById('settings').innerHTML = data.html;
    });
});
var ws = new WebSocket("ws://" + location.host + "/update")
ws.onopen = function(event) {
  console.log('opening socket');
  var msg = {type: "open_socket"}
  ws.send(JSON.stringify(msg));
  console.log('starting...');
}    
ws.onmessage = function(e) {
  //console.log(e.data);
  mainLoop(e.data);
}
</script>
</body>
</html>
