{% if message_type %}
    {% for message in messages %}
    <p class="alert {{ message_type }}">{{ message }}</p>
    {% endfor %}
{% endif %}
      <form id="feedback-form" class="pure-form pure-form-stacked" style="max-width:50em;" method="post"> 
        <h2>Contact Form</h2>
        <!-- TODO: prefill with user name and email from database --> 
        <label for="name">name:</label>
        <input type="text" id="name" name="name" value="{% if name is defined %}{{ name }}{% endif %}">
        <label for="email">email address:</label>
        <input type="text" id="email" name="email" value="{% if email is defined %}{{ email }}{% endif %}">
        <label for="message">questions/comments:</label>
        <textarea name="message" id="message" style="height:15em;">
            {% if message is defined %}{{ message }}{% endif %}
        </textarea>
        <button id="feedback-form-button" style="display:block; margin:0.5em auto;" onclick="postForm('feedback');return false;">Send</button>
      </form>
