<form id="hotspot-form" class="pure-form pure-form-stacked page-section" method="post">
    <label for="ap_on" class="pure-radio">
        <input type="radio" id="ap_on" name="ap_on" value="no" {% if not ap_on %}checked{% endif %} onClick="disableInput('ap', this.checked);">hotspot {% if not ap_on %}is {% endif %}OFF
    </label>
    <label for="ap_on" class="pure-radio">
        <input type="radio" id="ap_on" name="ap_on" value="yes" {% if ap_on %}checked{% endif %} onClick="disableInput('ap', !(this.checked));">hotspot {% if ap_on %}is {% endif %}ON <em>(recommended)</em>
    </label>
    <span id="ap-message" class="pure-form-message error-message">{{ error_msg }}</span>
    <div id="ap-setup" style="padding-left: 2em;">
        <label for="ap_name">hotspot name:</label>
        <input id="ap_name" class="ap" name="ap_name" value="{{ ap_name }}" {% if not ap_on %}disabled {% endif %}>
        <label for="ap_password">hotspot password:</label>
        <input id="ap_password" class="ap" name="ap_password" value="{{ ap_password }}" {% if not ap_on  %}disabled{% endif %}>
        <label for="ap_password">hotspot address <em>(modify this only if it conflicts with your router's address):</em></label>
        {{ ap_ipv4_octets[0] }}.{{ ap_ipv4_octets[1] }}.<input id="ap_ipv4_3" class="ap" name="ap_ipv4_3" value="{{ ap_ipv4_octets[2] }}" size="2" style="display:inline-block;" {% if not ap_on  or  loop.index == 3 %}disabled{% endif %}>.{{ ap_ipv4_octets[3] }}
    </div>
    <button id="hotspot-status-button" type="submit" class="pure-button pure-button-primary" style="display:block;margin: 1em 0;" onclick="updateStatus('hotspot');return false">Update Hotspot Settings</button>
</form>
