<!DOCTYPE HTML>
<html>
<head>
<title>Welcome to PedalPC</title>
<meta http-equiv="Content-type" content="text/html\;charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
<meta charset="utf-8">
<meta name="description" content="PedalPC login page">
<link rel="stylesheet" href="static/css/pure-min.css">
<!-- 
<link rel="stylesheet" href="static/css/side-menu.css">
<link rel="stylesheet" href="static/css/pure-release-1.0.0/grids-responsive-min.css">
-->
<style>
* {
  box-sizing: border-box; 
  border-collapse: collapse;
}
.row {
  padding: 0;
  margin: 0;
  display: flex; 
  /* mobile-first layout */
  flex-direction:column;  
  width: 100%;
}
.pure-form, p[class^="pure-u-"] {vertical-align: middle;}
p {
  text-align:center; 
  font-size:2em;
}
.error {
  font-size: 1em;
  color:white;
  font-weight:bold;
  padding:1em;
  background:red;
}
button {font-weight:bold;}
.signup, .spacer, .login {
  flex: 1 1 100%;
}
@media all and (min-width: 800px) {
  .row {
    justify-content: space-evenly;
    align-items: center;
    flex-direction:row;
  }
  .signup, .login {
    flex: 1 1 40%;
  }
  .spacer {
    flex: 1 1 20%;
  }
}
</style>
</head>
<body>
<div class="header-image" style="display:flex; justify-content:center;">
<img style="max-width:343px; height:auto; padding-top:2em;" src="/static/images/pedal_pc_logo.svg">
</div>
<section class="row">
{% if error_message: %}
  <p class="error">{{ error_message }}</p> 
{% endif %}
</section>
<section class="row">
  <form class="signup pure-form pure-form-aligned" method="post">
      <p>New User? Welcome!</p>
    <fieldset>
      <div class="pure-control-group">
        <label for="first_name">First Name</label>
        <input id="first_name" name="first_name" type="text" value="" required>
      </div>

      <div class="pure-control-group">
        <label for="last_name">Last Name</label>
        <input id="last_name" name="last_name" type="text" value="" required>
      </div>

      <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="email" value="" required>
      </div>

      <div class="pure-controls">
        <!-- 
        <label for="cb" class="pure-checkbox">
          <input id="cb" name="cb" type="checkbox"> I've read the terms and conditions
        </label>
        -->
        <button type="submit" name="new_user" value="1" class="pure-button pure-button-primary">Create New Account</button>
      </div>
    </fieldset>
  </form>
  <p calss="spacer">- or -</p>
  <form class="login pure-form pure-form-aligned" method="post">
    <p>Welcome back!</p>
    <fieldset>
      <div class="pure-control-group">
        <label for="email">Email Address</label>
        <input id="email" name="email" type="email">
      </div>

      <div class="pure-controls">
        <label for="cb" class="pure-checkbox">
          <input id="cb" name="remember_me" type="checkbox"> Remember Me 
        </label>
        <button type="submit" name="new_user" value="0" class="pure-button pure-button-primary">Sign In</button>
      </div>
    </fieldset>
  </form>
</section>
</body>
</html>
