{% if message_type %}
    {% for message in messages %}
    <p class="alert {{ message_type }}">{{ message }}</p>
    {% endfor %}
{% endif %}
<form id="settings-form" class="pure-form pure-form-stacked" method="post">
    <div class="row">
        <div class="col-sm-12 col-lg-6">
            <h2>Hotspot Settings</h2>

            <label for="hotspot_onoff" class="pure-radio">
                <input type="radio" id="hotspot_off" name="hotspot_onoff" value="off" {% if not is_hotspot_up %}checked{% endif %} onClick="disableInput('hotspot-setup', this.checked);">hotspot {% if not is_hotspot_up %}is {% endif %}OFF
            </label>
            <label for="hotspot_onoff" class="pure-radio">
                <input type="radio" id="hotspot_on" name="hotspot_onoff" value="on" {% if is_hotspot_up %}checked{% endif %} onClick="disableInput('hotspot-setup', !(this.checked));">hotspot {% if is_hotspot_up %}is {% endif %}ON <em>(recommended)</em>
            </label>
            <div id="ap-setup" style="padding-left: 2em;">
                <label for="hotspot_ssid">hotspot name:</label>
                <input id="hotspot_ssid" class="hotspot-setup" name="hotspot_ssid" value="{{ hotspot_ssid }}" {% if not is_hotspot_up %}disabled {% endif %}>
                <label for="hotspot_password">hotspot password:</label>
                <input id="hotspot_password" class="hotspot-setup" name="hotspot_password" value="{{ hotspot_password }}" {% if not is_hotspot_up  %}disabled{% endif %}>
                <label for="hotspot_password">hotspot address <em>(modify this only if it conflicts with your router's address):</em></label>
                {{ hotspot_ipv4_octets[0] }}.{{ hotspot_ipv4_octets[1] }}.<input id="hotspot_ipv4_3" class="hotspot-setup" name="hotspot_ipv4_3" value="{{ hotspot_ipv4_octets[2] }}" size="2" style="display:inline-block;" {% if not is_hotspot_up %}disabled{% endif %}>.{{ hotspot_ipv4_octets[3] }}
            </div>
        </div> <!-- /.col -->
        <div class="col-sm-12 col-lg-6">
            <h2>Network Settings</h2>
            <table class="settings">
                <thead>
                    <tr>
                        <th>connection</th>
                        <th>status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><p>wired</p></td>
                        <td>
                            {% if is_wired_up %}
                                <p class="connection-status connected">connected</p>
                            {% else %}
                                <p class="connection-status disconnected">disconnected</p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td><p>wireless</p></td>
                        <td>
                        {% if is_wifi_up %}
                            <p class="connected">connected</p>
                        {% else %}
                            <p style="disconnected">disconnected</p>
                        {% endif %}
                        {% if is_wifi_locked %}
                            <p><em>(You cannot modify this connection while it's in use.  You must be connected over a wired connection or via the hotspot to change it.)</em></p>
                            <input type="hidden" name="wifi_locked" value="true">
                        {% else %}
                            <input type="hidden" name="wifi_locked" value="false">
                        {% endif %}
                            <label for="wifi_ssid">wifi network:</label>
                            <select id="wifi_ssid" name="wifi_ssid" style="display:inline-block; width:20em;"  {{'disabled' if is_wifi_locked else '' }}>
                        {% if ap_dict %}
                            {% for ssid, active in ap_dict.items() %}
                                <option value="{{ ssid }}" {{ 'selected=selected' if active else '' }}>{{ ssid }}</option>
                            {% endfor %}
                        {% else %}
                                <option value=""><em>press 'Refresh List' to update &rarr;</em></option>
                        {% endif %}
                            </select>
                            <!-- 
    button must be declared as 'type=button' to prevent default behavior of submitting parent form (see https://stackoverflow.com/q/932653)
    -->
                            <button type="button" onclick="updateAPList();return false;" {{'disabled' if is_wifi_locked else '' }}>Refresh List</button>
                            <label for="wifi_password">password:</label>
                            <input id="wifi_password" name="wifi_password" {{ 'disabled' if is_wifi_locked else '' }}>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div> <!-- /.col -->
    </div> <!-- /.row -->
    <button id="settings-form-button" style="display:block; margin:0.5em auto;" onclick="postForm('settings');return false;">Update</button>
</form>
<form id="audio-settings-form" class="pure-form">
    <div class="row">
        <div class="col-sm-12">
            <fieldset>
                <label for="sound_on" class="pure-checkbox">
                    <input type="checkbox" id="sound_on" name="sound_on" value="off" onChange="document.getElementById('min_watts_notify').disabled = !this.checked; audio_alert.changeSettings(this.checked, document.getElementById('min_watts_notify').value);"> Play a sound when my average power output drops below <input type="number" name="min_watts_notify" id="min_watts_notify" value="60" style="width: 5em;" disabled onChange="audio_alert.changeSettings(document.getElementById('sound_on').checked, this.value);"> watts.
                </label>
            </fieldset>
        </div> <!-- /.col -->
    </div> <!-- /.row -->
</form>
