<form method="post">
<table class="settings">
    <thead>
        <tr>
            <th>connection</th>
            <th>status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p>wired</p></td>
            <td>
                {% if wired_up %}
                    <p class="connection-status connected">connected</p>
                {% else %}
                    <p class="connection-status disconnected">disconnected</p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td><p>wireless</p></td>
            <td>
            {% if wifi_up %}
                <p class="connected">connected</p>
            {% else %}
                <p style="disconnected">disconnected</p>
            {% endif %}
            {% if wifi_locked %}
                <p><em>(You cannot modify this connection while it's in use.  You must be connected over a wired connection or via the hotspot to change it.)</em></p>
            {% endif %}
                <label for="ssid">wifi network:</label>
                <select id="ssid" name="ssid" style="display:inline-block; width:20em;"  {{'disabled' if wifi_locked else '' }}>
            {% if ap_dict %}
                {% for ssid, active in ap_dict.items() %}
                    <option value="{{ ssid }}" {{ 'selected=selected' if active else '' }}>{{ ssid }}</option>
                {% endfor %}
            {% else %}
                    <option value=""><em>press 'Refresh List' to update &rarr;</em></option>
            {% endif %}
                </select>
                <button onclick="updateAPList();return false;" {{'disabled' if wifi_locked else '' }}>Refresh List</button>
                <label for="ssid_password">password:</label>
                <input id="ssid_password" name="ssid_password" {{ 'disabled' if wifi_locked else '' }}>
            </td>
        </tr>
        <tr>
            <td><p>hotspot</p></td>
            <td>
                <label for="ap_on" class="pure-radio">
                    <input type="radio" id="ap_on" name="ap_on" value="no" {% if not ap_on %}checked{% endif %} onClick="disableInput('ap', this.checked);">hotspot {% if not ap_on %}is {% endif %}OFF
                </label>
                <label for="ap_on" class="pure-radio">
                    <input type="radio" id="ap_on" name="ap_on" value="yes" {% if ap_on %}checked{% endif %} onClick="disableInput('ap', !(this.checked));">hotspot {% if ap_on %}is {% endif %}ON <em>(recommended)</em>
                </label>
                <span id="ap-message" class="pure-form-message error-message">{{ error_msg }}</span>
                <div id="ap-setup" style="padding-left: 2em;">
                    <label for="ap_name">hotspot name:</label>
                    <input id="ap_name" class="ap" name="ap_name" value="{{ ap_name }}" {% if not ap_on %}disabled {% endif %}>
                    <label for="ap_password">hotspot password:</label>
                    <input id="ap_password" class="ap" name="ap_password" value="{{ ap_password }}" {% if not ap_on  %}disabled{% endif %}>
                    <label for="ap_password">hotspot address <em>(modify this only if it conflicts with your router's address):</em></label>
                    {{ ap_ipv4_octets[0] }}.{{ ap_ipv4_octets[1] }}.<input id="ap_ipv4_3" class="ap" name="ap_ipv4_3" value="{{ ap_ipv4_octets[2] }}" size="2" style="display:inline-block;" {% if not ap_on  or  loop.index == 3 %}disabled{% endif %}>.{{ ap_ipv4_octets[3] }}
                </div>
            </td>
        </tr>
    </tbody>
</table>
</form>
