{% if is_up %}
<p class="connection-status connected">connected</p>
{% else %}
<p class="connection-status disconnected">disconnected</p>
{% endif %}
<button id="wired-status-button" onclick="updateStatus('wired')";>Refresh</button)
