{% if is_up %}
    <p class="connected">connected</p>
{% else %}
    <p style="disconnected">disconnected</p>
{% endif %}
{% if cannot_modify %}
    <p><em>(You cannot modify this connection while it's in use.  You must be connected over a wired connection or via the hotspot to change it.)</em></p>
{% endif %}
    <form id="wireless-form" class="pure-form pure-form-stacked page-section" method="post">
        <label for="ssid">wifi network:</label>
        <select id="ssid" name="ssid" style="display:inline-block; width:20em;"  {{'disabled' if cannot_modify else '' }}>
    {% if ap_dict %}
        {% for ssid, active in ap_dict.items() %}
        <option value="{{ ssid }}" {{ 'selected=selected' if active else '' }}>{{ ssid }}</option>
        {% endfor %}
    {% else %}
        <option value=""><em>press 'Refresh List' to update &rarr;</em></option>
    {% endif %}
        </select>
        <button onclick="updateAPList();return false;" {{'disabled' if cannot_modify else '' }}>Refresh List</button>
        <label for="ssid_password">password:</label>
        <input id="ssid_password" name="ssid_password" {{ 'disabled' if cannot_modify else '' }}>
        <button id="wireless-status-button" type="submit" class="pure-button pure-button-primary" style="display:block" {{ 'disabled' if cannot_modify else '' }} onclick="updateStatus('wireless');return false">Connect</button>
    </form>
