body {
    color: #777;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
}
    #layout.active {
        position: relative;
        left: 150px;
    }
        #layout.active #menu {
            left: 150px;
            width: 150px;
        }

        #layout.active .menu-link {
            left: 150px;
        }
/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -150px; /* "#menu" width */
    width: 150px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #191818;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #999;
        border: none;
        padding: 0.6em 0 0.6em 0.6em;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
    }

    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
        border-top: 1px solid #333;
    }
        /*
        Change color of the anchor links on hover/focus.
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
        */
        #menu .pure-menu li a:hover {
            background: #333;
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected {
        /* background: #1f8dd6 */;
        background: #fff;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #111;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 110%;
        /* color: #fff; */
        margin: 0;
    }
    #menu .pure-menu-heading img {
        display: block;
        width: 130px;
        height: auto;
        margin: 0 0 0 -0.3em;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }

/* BAW additions */
/* horizontal spacing for page and elements on page*/
.panel-padding {padding: 0 0.5em;}
/* vertical spacing for tables and top-of-page margin*/
.panel {width:100%; margin-top: 0.75em;}
.panel thead tr:first-child th {text-align:center;}
.panel .fa {float:left; display:inline-block; color:#808080}

/* style power table select boxes */
table.power select {font-size:1em; padding:0.06em; border-radius:0.50em; background:white; color:#333;}
table.power select.on {background:green; color:white}
table.power select.auto {background:lawngreen; color:dimgray}
table.power select.off {background:red; color:white}


/* format the power consumption panel */
table.panel {width:100%}
table.panel td {font-size:1em; padding:.25em .25em;}
table.panel thead td {padding-bottom:1em;}
/* table.panel td:last-child {width:4em; font-weight: 600; padding-right:.5em; text-align:right; color:#222;}*/
table.panel td:last-child {min-width:3em;text-align:right; color:#222;}
table.panel tr.device td {font-weight:500; color:#808080;}
table.panel tr.device td:nth-of-type(3) {color:#444;}
table.panel-device tr.battery td:nth-of-type(3) {border-bottom:1px solid #444}
table.panel-summary td:last-child {width:6em;}
table.panel-summary td:first-child, table.panel-device td:first-child {display:none;}
table.power td:nth-of-type(3) {width:3em;}
table.power td:last-child {width:4em;}
table.history td, table.history th {text-align:right;}
table.history td:first-child, table.history th:first-child {text-align:center;}

/* style radio buttons as button group */
input.radio-button {z-index:-1; opacity:0}
input.radio-button + div {display:inline-block;margin-left:-1.75em;width:3em;border:1px solid #a0a0a0;color:#666;background-color:#d0d0d0;text-align:center;}
input.radio-button:checked + div {font-weight:bold;color:#222;background-color:lightblue;}

/* format the gauges */
.gauge-needle {stroke:#999; fill:white}
.gauge-text {fill:#666; font-size:0.6rem; text-anchor:middle;}
.gauge-padding {padding: 0 1rem;}


/* format the warning below the power consumption panel */
.alert {
    padding: 1em 2em;
    box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.75) inset;
    text-align: center;
    border-radius: .3em;
}
.alert p {font-size: 1.5em;}
.alert.success {background-color: #53ca74; color: white;}
.alert.success p:before {
    font-family: FontAwesome;
    content: "\f164";
}
.alert.warning {background-color: yellow; color: #444;}
.alert.warning p:before {
    font-family: FontAwesome;
    content: "\f071";
}
.alert.danger {background-color: red; color: white;}
.alert.danger p:before {
    font-family: FontAwesome;
    content: "\f057";
}

/* style socket label text boxes */
input.socket-label {
    width:100%; 
    border-width: 0;
}
input.socket-label:focus {
    border-width:0 0 1px 0;
    border-style: solid;
    border-color: #666;
}

/* tooltip to display battery volts/amps */
tr.battery .tooltip {
    display:none;
}
tr.battery:hover .tooltip {
    display: inline;
    position: absolute;
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    color: #fff;
    content: attr(data-details);
    left: 25rem;
    bottom: 5rem;
    padding: 5px 15px;
    z-index: 98;
}

/* panel at bottom of screen when doing full-screen demos */
.demo-panel {
    display: block;
    height: auto;
    font-size: 4rem;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    color: #333;
    background-color: #fff;
    border: 2px solid;
}



/* adjust the formatting of the setup form */
#setup, #feedback {margin: 1em 2em;}
button.update-setup {display:block; margin:0 auto;}

/* center the buttons on the sidebar */
.start-button, .reset-button, .pause-button {margin:.5em auto}

/* end BAW additions */

/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
(1em = 16 px using most browser's default font)
*/
@media (min-width: 51em) {  /* this will only show if screen > 800 px */

    .header,
    .content {
        padding-left: 2em;
        padding-right: 2em;
    }

    #layout {
        padding-left: 150px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 150px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }

    table.panel-summary td:first-child, table.panel-device td:first-child {display:table-cell;}
}

#menu .text-block {margin: 0.25em 0; text-align: center; font-size:125%}
/* links on dark background same color as primary button background */
#menu .text-block a {display: inline-block; text-decoration: underline; color: #0078E7; padding:0; font-size:80%}
.error-message {font-weight:700; color:red;}
