.module {
    margin: 0em 1em;
}
.module-1 table, #pie-chart, .legend{
    margin: 0 auto;
}
header {display:block; text-align:center; font-weight: bold; font-size:1.25em;}
#pie-chart {display: block;}
.legend {
    margin-top: 3em;
    display:block; 
    width: 10em; 
}
.legend li {
    display: block;
    position: relative;
    padding-left:2em;
    margin: .5em 0;
}
.legend li span {
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 1em;
    height: 100%;
    /*border-radius: 0.2em; */
}

.socket1 {background-color: #801637;}
.socket2 {background-color: #047878;}
.socket3 {background-color: #FFB733;}
.battery {background-color: #F57336;}
.generator {background-color: #C22121;}
/* .reset-button, .pause-button {display:none;} */
/*
.socket1 {color: #801637; background-color: #A03657}
.socket2 {color: #047878; background-color: #249898}
.socket3 {color: #FFB733; background-color: #FFD753}
.battery {color: #F57336; background-color: #F59356}
.generator {color: #C22121; background-color: #E24141}
*/

table#power {
    min-width: 25em;
}
table#power td:last-child,
table#power th:last-child {
    text-align: center;
}
table#power td.calories-row {
    border-bottom: 0px
}
.calorie-bar-graph {
    height:36px; 
    background: url("../images/banana.jpg") repeat-x 0 center;
}
.module>div,
.module h2,
.module h3 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.module {
    border:1px solid #e0e0e0;
}
.module .module-header {
    margin-top: 0px;
    padding: .5em 0em;
    font-size: 100%;
    width: 100%;
    background: #e0e0e0;
}
.module .module-footer {
    margin-top:1.75em;
    font-size: 125%;
    font-weight:lighter;
}
